* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: inherit;
    width: inherit;
    justify-content: space-around;
    background-color: #a440e3;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6rem;
    width: 10rem;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}  